.jumbotron {
  padding-top: 4rem;
  padding-bottom: 5rem;
  background-image: url(img/bg-profil.jpg);
  background-size: 100%;
}

#about {
  padding-top: 6rem;
  padding-bottom: 3rem;
}

#gallery {
  padding-top: 6rem;
  background-color: #fbeefd;
}

#partner {
  background-color: #dbdbdb;
  padding-top: 6rem;
  padding-bottom: 4rem;
}

#project {
  background-color: #fbeefd;
  padding-top: 6rem;
  padding-bottom: 3rem;
}

footer {
  background-color: #a303f3;
  padding: 1rem;
}

#contact {
  padding-top: 7rem;
  padding-bottom: 4rem;
}
