.jumbotron {
  padding-top: 4rem;
  padding-bottom: 5rem;
  background-image: url(img/bg2.jpg);
  background-size: cover;
}

#about {
  padding-top: 5rem;
  padding-bottom: 3rem;
}

#gallery {
  padding-top: 5rem;
  background-color: #fbeefd;
}

#album img {
  max-width: 200;
}

#partner {
  background-color: #dbdbdb;
  padding-top: 5rem;
  padding-bottom: 4rem;
}

#project {
  background-color: #fbeefd;
  padding-top: 5rem;
  padding-bottom: 3rem;
}

footer {
  background-color: #a303f3;
  padding: 0.6rem;
}

footer a {
  color: white;
  text-decoration: none;
}

footer small {
  font-size: 0.9rem;
}

footer li {
  list-style: none;
  margin: 0.3rem;
  display: inline;
  font-size: 0.8rem;
}

footer a:hover {
  color: Black;
}

#contact {
  /* padding-top: 3rem; */
  padding-bottom: 10rem;
}

.deskripsi {
  font-size: 0.9rem;
  font-weight: 100;
  font-family: "Moon Dance", cursive;
}

.judul {
  font-family: "roboto condensed", "sans-serif";
}

.judul1 {
  font-weight: 350;
  font-style: italic;
  font-family: "Moon Dance", cursive;
}

.nav-link {
  font-family: "Fira Sans Condensed", sans-serif;
  color: white;
}

.navbar-brand {
  font-family: "roboto condensed", "sans-serif";
  color: white;
}

.navbar a:hover {
  color: #707070;
}

.chat-icon {
  position: fixed;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 2.5rem;
  bottom: 8.2rem;
  right: 1.3rem;
}

.chat-icon a {
  color: green;
  opacity: 0.7;
}

.judul2 {
  /* font-family: 'Sofia Sans Semi Condensed', sans-serif; */
  /* font-family: 'Fira Sans Condensed', sans-serif; */
  font-family: "roboto condensed", "sans-serif";
  /* font-family: 'Moon Dance', cursive; */
}
